* {
    box-sizing: border-box; 
  }
  
body {
    margin: 0; 
    font-weight: 500;
}

h1 {
    font-size: 3em;
    display: block;
    color: #000000;
    font-weight: 300;
}

h1:hover {
    color: #6e2b2b;

}
  
p {
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(8, 54, 153);
}
  
a {
    font-weight: 700;
    color: #373B44;
    position: relative;
}

header {
    padding: 1% 5%;
    text-align: left;
    background-color: #ffffff;
    color: #373B44;
    margin-bottom: 15vh;
}

header a {
    text-decoration: none;
    color: #232323;  
    transition: color 0.3s ease;
}
  
#menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;  
    z-index: 1;  
    -webkit-user-select: none;
    user-select: none;
}
  
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;  
    cursor: pointer;  
    opacity: 0; 
    z-index: 2;   
    -webkit-touch-callout: none;
}
  
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
}
  
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;  
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
  
#menu li {
    padding: 10px 0;
    font-size: 22px;
}
  
#menuToggle input:checked ~ ul {
    transform: none;
}
  
section {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #ffffff;
    height: 40vh;
}
  
.content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content img {
    padding: 0 20px;
}

#faq {
    height: 30vh;
    vertical-align: left;
    text-align: left;
}

img {
    display: table-cell;
    max-width:180px;
    max-height:180px;
    width: 800px;
    height: 800px;
}

footer {
    padding: 1% 5%;
    text-align:center;
    color: white;
}

.back-to-top {
    position:fixed;
    bottom: 0px;
    right:0px;
    padding:20px;
    display:none;
    cursor: pointer;
}

.back-to-top:after {
    color: #000;
    position: absolute; 
    bottom:30px;
    right: 50px;
}

.back-to-top img {
    height: 40px;
    width: 40px;
}
